@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "WebBase.cshtml";
}

@* the fun starts here *@

<div class="container">
    @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
    {
        <p>Your message was sent successfully</p>
    }
    else
    {
        Html.RenderAction("RenderForm", "Contact");
    }
</div>


<div id="map" data-animate-effect="fadeIn"></div>

@section ScriptsBottom
{
    <!-- Google Map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
        <script src="/Scripts/google_map.js"></script>*@
}
